{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}AgendaWeb{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Welcome, {% if current_user.is_authenticated %}{{ current_user.username }}{% else %}Stranger{% endif %}!</h1>
</div>
<div>
    <p>Agenda是我们(SYSU)软件工程大一的一个实训项目，这个网站是我基于Agenda的简单的网络编程项目。但是因为我是最近才开始学习的python和flask，以及css样式的东西，网站的排版等可能相对没那么好。水平较为一般，望各位dalao指教:-)</p>
    <p>这个project的代码已经放在了我的新建的github上，大家有什么建议或者这个系统有什么bug可以在github中指出：）</p>
    <p>My github:<a href="https://https://github.com/zhongwq">zhongwq@github</a></p>
    {% if current_user.is_authenticated %}
    	<p>作为已登录用户，你可以查看已注册Agenda的所有用户的用户名、邮箱及电话信息，添加会议，取消自己发起的会议，查询一段时间段内的会议，退出自己参与的其他人发起的会议以及删除自己的账号</p>
    {% else %}
    	<p>作为未登录的用户，你不可以使用AgendaWeb的除了注册外的任何功能，请移步右上角注册</p>
    {% endif %}
</div>

{% endblock %}


